header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* ******** CTA Section ********** */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* ******** Header Social ********** */
.header_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    position: absolute;
    left: 0;
    bottom: 5rem;
}

.header_social::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ************** Header Image ************** */
.imgMe{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    position: absolute;
    left: calc(50% - 11rem);
    text-align: center;
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem .5rem 1.5rem .5rem;
}

/* scrooll_down */
.scrooll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 8rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* *********************** Start Media Queries ( Medium Device ) *********************** */
@media screen and (max-width:1024px){
    header{
        height: 80vh;
        padding-top: 4rem;
    }
    .imgMe{
        margin-top: 2rem;
        padding: 2rem .5rem 1.5rem .5rem;
    }
    .cta{
        margin-top: 1.5rem;
    }
}


/* *********************** Start Media Queries ( Medium Device ) *********************** */
@media screen and (max-width:600px){
    header{
        height: 100vh;
        padding-top: 5rem;
    }
    .header_container > h1{
        font-size: 2rem;
    }
    .header_social, .scrooll_down{
        display: none;
    }
}